<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <!-- Choisissez votre connexion et provider -->
    <!-- SQL Server -->
    <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=your_database;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <!-- MySQL -->
    <!-- <add name="DefaultConnection" connectionString="Server=localhost;Database=your_database;Uid=user;Pwd=password;SslMode=None;" providerName="MySql.Data.MySqlClient" /> -->
    <!-- PostgreSQL -->
    <!-- <add name="DefaultConnection" connectionString="Host=localhost;Database=your_database;Username=user;Password=password" providerName="Npgsql" /> -->
  </connectionStrings>

  <appSettings>
    <!-- Liste des tables à gérer, séparées par des virgules -->
    <add key="TableNames" value="npc,npc_template,npc_question,npc_reponse,quest_data,quest_objectif,quest_etape,item_template,monster_fr" />
  </appSettings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>